@import url('https://fonts.googleapis.com/css?family=Catamaran:200,800');
@import url('https://fonts.googleapis.com/css?family=Source+Sans+Pro:300, 400');

$red_color: #AC2618;

table, th, td {
  font-family: 'Source Sans Pro', sans-serif;
  border: 1px solid black;
  border-collapse: collapse;
  padding: 10px;
  text-align: center;

}

th {
  width: 15%;
}

h1 {

  color: $red_color
}

h3 {
  color: $red_color
}


* {
  font-family: 'Source Sans Pro', sans-serif;
  font-weight: 300;
  text-transform: uppercase;
  box-sizing: border-box;

  &:after, &:before {
    box-sizing: border-box;
  }
}

.landing {
  background: url(./images/fall.jpg) no-repeat center center fixed;
  height: 600px;
  display: block;
  overflow: hidden;
}

.inner {
    background-color: white;
    border-radius: 5px;
    margin: 20px auto;
    max-width: 65em;
    width: calc(100% - 2em);
    display: flex;
    padding: 10px;
    box-shadow: 4px 4px 2px -2px rgba(0,0,0,0.3);
}

section {
  display: block;
  margin: 0;
  padding: 10px;
  border: 0;
  font-size: 100%;
  font: inherit;
  vertical-align: baseline;
}



#contact {
  overflow-x: hidden;
  background-color: #f2f2f2;
}

#contact>.inner>.split>* {
    padding: 1em 0 1em 1em;
    position: relative;
    margin-right: 20px;
}

.contact-method {
    padding-left: 3.25em;
    position: relative;
}
/*FORM*/

h3 {
  margin: 2px;
}

.rsvpForm {
  margin: 0 auto;
}


form {
  display: grid;
  grid-gap: 20px;
}

input,textarea {
  font-size: 1em;
  width: 100%;
  border: 1px solid #000;
  padding: 0.3em;

  &:focus:not([type=radio]) {
    outline: 1px solid grey;
    font-weight: 400;
  }
}

textarea {
  height: 100px;
  resize: none;
}

form label {
  display: block;
  color: $red_color;
  font-size: .9em;
  font-weight: 800;
  letter-spacing: .10em;
  margin: 1em 0 0.4em;
  text-transform: uppercase;
}

input[type="radio"] {
  display: inline;
  width: 30px;
}

form p {
  margin: 0px;
}

button {
    -moz-appearance: none;
    -webkit-appearance: none;
    -ms-appearance: none;
    appearance: none;
    transition: background-color .2s ease-in-out,box-shadow .2s ease-in-out,color .2s ease-in-out;
    background-color: $red_color;
    border: 0;
    border-radius: 0;
    box-shadow: inset 0 0 0 2px $red_color;
    color: white;
    display: inline-block;
    font-size: .8em;
    font-weight: 200;
    height: 3.5em;
    letter-spacing: .25em;
    line-height: 3.5em;
    padding: 0 1.75em;
    text-align: center;
    text-decoration: none;
    text-transform: uppercase;
    white-space: nowrap;
    margin-bottom: 20px;

  &:hover {
      background-color: transparent;
      color: black;
  }
}


